.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90vw;
  align-items: center;
  justify-content: space-between; }

.header__title {
  font-size: 32px; }

.menu .menu__container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between; }
  .menu .menu__container .menu__item {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #1F1D2A; }
  .menu .menu__container .menu__item:first-child {
    border-bottom: solid #1F1D2A 2px;
    padding: 5px 5px 5px 5px; }

.header__login {
  border: solid 1px;
  border-radius: 6px;
  padding: 10px 15px;
  color: #1F1D2A;
  text-decoration: none; }

.articleblock {
  height: 100%;
  width: 50%; }
  .articleblock .articleblock__article {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    gap: 30px; }
    .articleblock .articleblock__article .articleblock__article-title {
      font-size: 55px;
      font-weight: 600;
      margin: 0;
      color: #1F1D2A; }
    .articleblock .articleblock__article .articleblock__article-text {
      font-size: 16px;
      color: #9B948E;
      margin-bottom: 35px;
      width: 60%; }
    .articleblock .articleblock__article .articleblock__article-button {
      background-color: #96C67F;
      font-size: 20px;
      border-radius: 5px;
      padding: 20px;
      text-decoration: none;
      color: #1F1D2A; }

.imageblock {
  height: 500px;
  width: 500px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center; }
  .imageblock .imageblock-image {
    height: 613px;
    width: 913px;
    object-fit: cover; }

.imageblock__arrow {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #9499B7;
  position: absolute;
  top: 40%;
  right: 2%; }

.imageblock__commentbox {
  background-color: #ffff;
  border-radius: 5px;
  width: fit-content;
  padding: 10px 40px;
  position: absolute;
  top: 60%; }
  .imageblock__commentbox .imageblock__list {
    list-style: none;
    display: flex;
    gap: 10px; }

.brandsection {
  margin: 0 auto; }
  .brandsection .brandblock {
    text-align: center; }
    .brandsection .brandblock .brandblock__list {
      margin: 0 auto;
      justify-content: center;
      display: flex;
      gap: 40px;
      list-style: none; }
      .brandsection .brandblock .brandblock__list .list__item a {
        text-decoration: none;
        color: #9B948E; }

.footercontainer__titlebox {
  text-align: center;
  padding: 50px; }
  .footercontainer__titlebox .titlebox__text {
    font-size: 18px;
    font-weight: 400;
    color: #1F1D2A; }
  .footercontainer__titlebox .titlebox__title {
    font-size: 32px;
    font-weight: 600; }

.cardblock {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  padding-bottom: 50px; }
  .cardblock .cardblock__card {
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden; }
    .cardblock .cardblock__card .card__imagebox {
      flex-grow: 1;
      width: 100%;
      overflow: hidden;
      display: flex;
      align-items: flex-end; }
    .cardblock .cardblock__card .card_image {
      width: 100%;
      height: auto; }
    .cardblock .cardblock__card .card__textbox {
      padding: 10px 20px;
      width: 100%;
      background-color: #ffffff;
      margin-top: 0px; }
      .cardblock .cardblock__card .card__textbox .card__title {
        margin: 0px;
        padding-top: 5px;
        font-size: 20px;
        font-weight: 400;
        color: #1F1D2A; }
      .cardblock .cardblock__card .card__textbox .card__text {
        font-size: 16px;
        color: #9B948E;
        margin: 0;
        padding: 10px 0;
        font-weight: 400; }
  .cardblock .cardblock__card:nth-child(1) {
    background-color: none;
    border-radius: 10px; }
  .cardblock .cardblock__card:nth-child(2) {
    background-color: #E38D1E;
    border-radius: 10px; }
  .cardblock .cardblock__card:nth-child(3) {
    background-color: #A08DC4;
    border-radius: 10px; }
  .cardblock .cardblock__card:nth-child(4) {
    background-color: none;
    border-radius: 10px; }

body {
  background: linear-gradient(292.92deg, #E6E6E4 7.23%, #F0E8E2 97.74%);
  height: 100vh;
  font-family: "Poppins", sans-serif; }

.fa-solid.fa-star {
  color: #FFB988;
  font-size: 24px; }

.fa-solid.fa-play {
  position: absolute;
  bottom: 25%;
  left: 35%;
  font-size: 40px;
  color: #ffffff; }

/*# sourceMappingURL=style.css.map */
