.articleblock{
    height:100%;
    width:50%;
    .articleblock__article{   
        height:100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;   
        gap:30px; 
        .articleblock__article-title{
            font-size: 55px;
            font-weight: 600;
            margin:0;
            color:$black;
        }
        .articleblock__article-text{
            font-size: $text-small;
            color:$cream;
            margin-bottom:35px;
            width:60%;
        }
        .articleblock__article-button{
            background-color: #96C67F;
            font-size: 20px;
            border-radius: 5px;
            padding: 20px;
            text-decoration: none;
            color:$black;
        }
    }
}
.imageblock{
    height:500px;
    width:500px;
    overflow: hidden;
    border-radius:50%;
    position: relative;
    display: flex;
    justify-content: center;
    
    .imageblock-image{     
        height: 613px;
        width: 913px;  
        object-fit: cover;       
    }
   
}
.imageblock__arrow{
    width: 80px;
    height:80px;
    border-radius: 50%;
    background-color: #9499B7;
    position: absolute;
    top:40%;
    right:2%;
}
.imageblock__commentbox{

    @include card(5px, #ffff);
    width:fit-content;
    padding: 10px 40px;
    position: absolute;
    top:60%;
    .imageblock__list{
        list-style: none;
        display: flex;
        gap:10px;
    }

}